.header {
	width: 100%;
	height: auto;
}
#header {
	padding-top: -75px;
}
.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 26px;
}
blockquote {
	border-left: 3px solid #403F40;
	background-color: rgba(255, 255, 255, 0.5)
}
.container-fluid {
	position: -webkit-sticky;
    position: sticky;
    top: 0;
	background-color: #222222;
}
.navbar-nav {
	float: center;
}
nav div ul li a:hover {
	border-bottom: 5px solid tomato;
}
.arrow-down p {
	text-align: center;
	color: rgba(255, 255, 255, 0.5);
	margin-top: -33px;
	margin-left: -13px;
	transition: color 0.2s;
}
.leftpane {
    width: 33%;
    height: 100%;
    float: left;
    border-collapse: collapse;
}
.leftpane h1 {
	text-align: center;
}
.middlepane {
    width: 33%;
    height: 100%;
    float: left;
    border-collapse: collapse;
}
.middlepane h1 {
	text-align: center;
}
.rightpane {
  width: 33%;
  height: 100%;
  position: relative;
  float: right;
  border-collapse: collapse;
}
.rightpane h1 {
	text-align: center;
}
